.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0 51px;
}

.profile__image {
  max-height: 120px;
  max-width: 120px;
  border-radius: 50%;

}

.profile__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.profile__image-edit-icon {
  max-height:26px;
  max-width: 26px;
}

.profile__image-edit-button {
  position: absolute;
  background: rgba(0, 0, 0, .8);
  background-size: contain;
  border: none;
  border-radius: 50%;
  padding: 50px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.profile__image-edit-button:hover {
   visibility: visible;
   opacity: 1;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description desription";
  column-gap: 18px;
  row-gap: 7px;
  align-items: center;
  max-width: 65%;
}

.profile__title {
  grid-area: title;
  font-size: 42px;
  line-height: 1.1;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) no-repeat;
  background-size: cover;
  transition: opacity 0.2s linear;
  border: 1px;
  grid-area: button;
  margin: 0 auto;
  padding: 12px 12px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) no-repeat;
  background-size: cover;
  transition: opacity 0.2s linear;
  border: 2px;
  margin: 0 0 0 auto;
  padding: 25px 75px;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
}


@media screen and (max-width: 730px) {
  .profile {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 42px 0 36px;
    max-width: 282px;
  }
  .profile__image {
    margin: 0 0 30px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 36px;
    max-width: 282px;
    gap: 10px;
  }
  .profile__title {
    font-size: 22px;
    max-width: 90%;
    line-height: 1.2;
  }
  .profile__description {
    font-size: 14px;
  }
  .profile__edit-button {
    padding: 9px 9px;
    margin: 0;
  }
  .profile__add-button {
    background: url(../images/add-button_mobile.svg) no-repeat;
    width: 100%;
    margin: 0;
  }
}
